.news-card {
  width: 256px;
  height: 320px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 1px 1px 1px 1px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
}

@media (max-width: 750px) {
  .news-card {
    display: none;
  }
}
